/*init and global style*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    /*Fix website wrong charset*/
    /*font-family: "微软雅黑";*/
    font-family: '\5FAE\8F6F\96C5\9ED1';
}


/*Header style*/
.header {
    background: url(../img/top.jpg) repeat-x;
    height: 85px;
}

.header .logo {
    width: 990px;
    height: 85px;
    margin: 3px auto;
}

#logo_left {
    float: left;
}


#logo_right {
    float: right;
    margin: 10px 74px 0px 0px;
}

/*Content style*/
.content {
    width: 980px;
    margin: 0 auto;
}

/*Navigation Bar style*/
.content .navi {
    background: url(../img/navbg.png) no-repeat;
    height: 74px;
    text-align: center;
}

.content .navi ul {
    display: inline-block;
    margin-left: -90px;
}

.content .navi li {
    text-align: center;
    float: left;
    color: white;
    line-height: 45px;
    width: 100px;
    margin-top: 1px;
}

.content .navi li:hover {
    background: url(../img/pic03.png) no-repeat;
}


/*Register form style*/
.content .reg_form .reg_title {
    background: url(../img/pic01.jpg) no-repeat;
    height: 31px;
}

.content .reg_form .reg_title span {
    color: white;
    display: inline-block;
    margin: 5px 0px 0px 35px;
}

.content .reg_form table {
    margin: 0 auto;
}

#reg_content1 {
    height: 310px;
}


#reg_content2 {
    height: 530px;
    text-align: center;
}


#reg_content1,
#reg_content2 {
    font-size: 17px;
    color: #8fbe27;
    padding-top: 40px;
    background-color: #f5f5f5;
}

#reg_content1 tr,
#reg_content2 tr {
    width: 420px;
    height: 50px;
}

#nickname,
#email,
#phone,
#password,
#password2 {
    width: 320px;
    height: 30px;
    border: 1px solid #8fbe27;
}

#kind,
#agea {
    border: 1px solid #8fbe27;
    color: #8fbe27;
    width: 183px;
    height: 20px;
}

#reg_content2 table {
    text-align: left;
    margin-left: 283px;
}

#reg_content1 span,
#reg_content2 span {
    line-height: 30px;
}

/*Food checkbox margin setting*/
.foood input {
    margin-left: 15px;
}

#spec_food {
    margin-left: 0px;
}


/*Textarea style*/
#remark {
    border: 1px solid #8fbe27;
    color: #aaaaaa;
    padding: 20px;
    width: 380px;
    height: 115px;
}


/*Submit btn style*/
.content .reg_form #sb {
    width: 179px;
    height: 40px;
    background: url(../img/pic02.png) no-repeat;
    color: white;
    margin-top: 40px;
    font-size: 19px;
}


/*Footer style*/
.footer {
    height: 95px;
    text-align: center;
    color: white;
    background-color: #cccccc;
    padding-top: 45px;
}