* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    width: 980px;
    margin: 0 auto;
    font-family: 微软雅黑;
    color: #dd8684;
}

.banner {
    background: url(../img/banner.jpg) no-repeat;
    width: 980px;
    height: 429px;
}

.reg_content {
    background: url(../img/content_bg.jpg) no-repeat;
    height: 934px;
}

.reg_content .reg_step {
    height: 80px;
    margin-left: 140px;
    background: url(../img/step.jpg) 125px center no-repeat;
}

.reg_content .reg_step span,
.reg_content .reg_title span {
    font-size: 22px;
    line-height: 80px;
    font-weight: lighter;
}

.reg_content .reg_title {
    margin-left: 140px;
    border-bottom: 1px solid #dd8684;
    width: 450px;
}

.reg_content .reg_title span {
    line-height: 50px;
}

.reg_content .reg_info {
    width: 521px;
    margin-left: 200px;
    line-height: 52px;
    font-size: 13px;
}

.reg_content .reg_info .hw {
    width: 320px;
    height: 28px;
    border: 1px solid #dd8684;
}

.reg_content .reg_info .short {
    margin-left: 2em;
}
.reg_content .reg_info select{
    color: #dd8684;
}
.reg_content .reg_info .hw2 {
    width: 170px;
    height: 20px;
    border: 1px solid #dd8684;
}
#sptext{
    line-height: 155px;
    text-align: right;
}
#jieshao{
    width: 410px;
    height: 135px;
    border: 1px solid #dd8684;
    color: #aaaaaa;
    padding: 20px;
}