/* 注释 */
body{
    margin: 0 auto;
    width: 80%;
    font-family: 微软雅黑;
    line-height: 200px;
    text-align: right;
}

p{
    color: red;
}

.ptest{
    color: blue;
    font-weight: 900;
    font-style: italic;
}

#test001{
    color: rgb(129, 129, 122);
    text-decoration:solid;
}

.url{
    text-decoration: none;
    font: italic 12px/20px 微软雅黑;
}