/* By Chenx221 */
/* global style */
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    font-family: "微软雅黑";
}

/* main style */
.header {
    height: 40px;
    width: 100%;
    background-color: #055c92;
}

.header .header_980w_layer {
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

.header .header_980w_layer .header_left {
    float: left;
    height: 100%;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}

.header .header_980w_layer .header_right {
    float: right;
    height: 100%;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}

.header .header_980w_layer span {
    font-size: 12px;
}

.content {
    width: 980px;
    background-color: #fff;
    margin: 0 auto;
    height: auto;
}

.content .navigation {
    margin: 30px 0px;
    height: 53px;
}

#logo {
    float: left;
}

.content .navigation .navi_links {
    height: 53px;
    float: left;
    margin-left: 44px;
}

.content .navigation .navi_links li {
    float: left;
    text-align: center;
    line-height: 53px;
    margin: 0px 20px;
}

.content .sort {
    width: 960px;
    height: 400px;
    margin: 0 auto;
}

.content .sort .sort_item {
    width: 235px;
    height: 100%;
    float: left;
}

.content .sort .sort_item table {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

#sort_tb td {
    color: white;
    font-size: 14px;
}

.content .sort .sort_img {
    width: 725px;
    height: 100%;
    float: left;
    line-height: 40px;
}

.content .links {
    width: 960px;
    height: 130px;
    margin: 15px auto;
}

.content .links .link_item {
    float: left;
    height: 100%;
    width: 232px;
}

.content .guanggao {
    width: 960px;
    height: 280px;
    margin: 0 auto;
}

.content .guanggao .guanggao_item {
    width: 230px;
    height: 278px;
    float: left;
    border: 1px solid #cccccc;
}

.content .guanggao .guanggao_item div {
    height: 150px;
}

.content .guanggao .guanggao_item p {
    text-align: center;
    font-size: 12px;
}

.content .guanggao .guanggao_item img {
    margin: 30px auto;
    display: block;
}

.content .footer {
    height: 115px;
    margin-top: 20px;
}

.content .footer p {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

.content .footer .footer_status_icon {
    width: fit-content;
    margin: 10px auto;
}

.content .footer .footer_status_icon img {
    margin: 0px 20px;
}
/* By Chenx221 */