td,th{
    border: 2px solid #000;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: burlywood;
    font-size: 30px;
}
#title{
    background-color: blanchedalmond;
    text-align: right;
    padding-right: 15px;
}
#range{
    width: 200px;
}