* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 微软雅黑;
}

.header {
    width: 785px;
    height: 55px;
    margin: 0 auto;
    padding: 15px 0px;
}

.header .logo {
    float: left;
}

.header .userfunction {
    text-align: right;
    color: #ff9c00;
    font-size: 18px;
    line-height: 65px;
}

.nav {
    background-color: #ff9c00;
    margin: 0 auto;
    text-align: center;
}

.nav span {
    line-height: 50px;
    margin-left: 72px;
    color: #8f523f;
}

#firstt {
    margin-left: 15px;
}

.banner {
    background: url(../img/banner.jpg) center 0px no-repeat;
    /* 横向过大时中间banner会出现白边 */
    height: 240px;
    padding-top: 494px;
}

.banner .sort {
    /* margin: 0 auto; */
    text-align: center;
    height: 240px;
    background-color: #e7bf80;
    background-position-y: 494px;
}

#circle1,
#circle2,
#circle3,
#circle4,
#circle5 {
    float: none;
    height: 146px;
    width: 146px;
    display: inline-block;
    margin: 47px 20px 0px 20px;
    padding-top: 95px;
    color: #8f523f;
}

#circle1 {
    background: url(../img/list1.png) no-repeat;
}

#circle2 {
    background: url(../img/list2.png) no-repeat;
}

#circle3 {
    background: url(../img/list3.png) no-repeat;
}

#circle4 {
    background: url(../img/list4.png) no-repeat;
}

#circle5 {
    background: url(../img/list5.png) no-repeat;
}

.shop {
    height: 580px;
    background-color: #f8f5bc;
    text-align: center;
}

.shop .hide {
    margin: 0 auto;
    width: 983px;
    height: auto;
    padding-top: 10px;
}

.shop .hide .item {
    float: none;
    display: inline-block;
    width: 180px;
    height: 208px;
    background-color: white;
    margin: 30px 20px 0px 20px;
    border: 1px solid #cccccc;
    padding-top: 12px;
}

.shop .hide .item img {

    width: 158px;
    height: 120px;
}

.shop .hide .item p {
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    line-height: 22px;
}

.shop .hide .item .colort1 {
    color: #8f523f;
}

.shop .hide .item .colort2 {
    color: #fd8d99;
}

.footer {
    margin-top: -20px;
    background: url(../img/footer.png) repeat-x;
    height: 121px;
    color: white;
    line-height: 121px;
    text-align: center;
    font-size: 18px;
}