body {
    width: 980px;
    margin: 0 auto;
}

.header span {
    font-family: 隶书;
    font-weight: bold;
    font-size: larger;
    line-height: 40px;
}

.logo {
    text-align: center;
    background-color: #525252;
}

.jianjie,
.fabu,
.yuanchuang {
    line-height: 20px;
    padding-top: 10px;
    font-family: 隶书;
}

.jianjie h1,
.fabu h1,
.yuanchuang h1 {
    font-weight: normal;
    font-size: 47px;
    color: brown;
    padding-bottom: 10px;
    text-align: center;
}

.eng {
    font-size: 20px;
    font-weight: bold;
}

.textd {
    padding-top: 15px;
}

.jianjie p {
    font-size: 20px;
    text-indent: 2em;
    margin-bottom: -15px;
}

#text1 {
    color: brown;
    font-size: 30px;
    font-style: italic;
}

#text2 {
    color: brown;
}

#text3 {
    color: brown;
    font-style: italic;
    text-decoration: underline;
    font-size: 24px;
}

#text4 {
    font-size: 22px;
    background-color: yellow;
}

.yuanchuang img {
    margin-bottom: -4px;
}

.yuanchuang,
.fabu {
    text-align: center;
}

.footer {
    text-align: center;
    line-height: 100px;
    font-size: 14px;
    background-color: #525252;
    color: white;
    font-family: 微软雅黑;
}