* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "微软雅黑";
}

.header .header-980layer {
    width: 980px;
    margin: 0 auto;
    padding: 25px 0px;
    height: 27px;
}

.header .header-980layer .header-left {
    float: left;
    height: 27px;
    /* margin-left: 2px; */
}

.header .header-980layer .header-right {
    float: right;
    height: 27px;
    /* margin-right: 2px; */
}

.navigation {
    height: 35px;
    background-color: rgb(2, 115, 185);
}

.navigation .navi_980layer {
    margin: 0 auto;
    width: 980px;
    height: 100%;
}

.navigation .navi_980layer li {
    float: left;
    cursor: pointer;
    /* width: 110px; */
    text-align: center;
    padding: 0px 40px;
    cursor: pointer;
}

.navigation .navi_980layer li:hover {
    background-color: rgb(37, 171, 255);
}

.navigation .navi_980layer li span {
    color: white;
    line-height: 35px;
    font-size: 14px;
    /* display: inline-block; */
}

.banner {
    height: 580px;
}

.content {
    width: 980px;
    margin: 0 auto;
}

.content .jieshao {
    height: 500px;
}

.content .jieshao img {
    float: left;
    margin: 35px 30px 0px 0px;
}

#js1,
#ts1 {
    line-height: 110px;
    font-size: 24px;
    font-weight: lighter;
    border-bottom: 8px solid rgb(236, 236, 236);
}

#js2 {
    color: rgb(243, 162, 0);
    /* font-weight: bold; */
    line-height: 70px;
    font-size: 25px;
}

#js3 {
    font-size: 14.5px;
    line-height: 24px;
    color: rgb(80, 80, 80);
}

#js4 {
    font-size: 14px;
}

.content .tese {
    height: 570px;
}

.content .tese .tese_left {
    height: 375px;
    width: fit-content;
    float: left;
}

.content .tese .tese_left .t_l_l {
    height: 375px;
    width: 448px;
    float: left;
}

.content .tese .tese_left .t_l_r {
    float: left;
    height: fit-content;
    width: 190px;
}

.content .tese .tese_left .t_l_r img {
    float: left;
    margin-top: 1px;
}

/* not work */
/* #img-right1:hover{
    src: url(../img/txt_111.jpg);
}
#img-right2:hover{
    src: url(../img/txt_222.jpg);
}
#img-right3:hover{
    src: url(../img/txt_333.jpg);
} */


.content .tese .tese_right {
    height: 375px;
    width: 325px;
    float: right;
}

.content .tese .tese_right table {
    margin: 0 auto;
}

.content .tese .tese_right table tr {
    font-size: 18px;
    height: 50px;
}

.content .tese .tese_right td input,
.content .tese .tese_right td select {
    width: 205px;
    height: 30px;
    border: 1px solid #d2d2d2;
}

#sb {
    background: url(../img/btn.jpg) no-repeat;
    border: none;
    width: 175px;
    height: 53px;
    margin-top: 30px;
}

.footer {
    height: 60px;
    line-height: 60px;
    background-color: rgb(2, 115, 185);
    color: white;
    text-align: center;
    font-size: 14px;
}